<head>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>

<body>
  <div class="box">
    <div class="box1">
      <div class="personal-data">
        <p>Details</p>
      </div>
      <div class="introduction">
        <p>Introduction</p>
      </div>
      <div class="experience">
        <p>Experience</p>
      </div>
    </div>
    <div class="box2">
      <div class="name">
        <div class="teach-name">
          <p>{{ teachName }}</p>
        </div>
        <div class="email">
          <p class="test">
            Email: <span>{{teachContact.email}}</span>
            <i
              style="position: relative; top: 3px; right: -3px; width: 40px"
              class="bx bx-envelope"
            ></i>
          </p>
        </div>
        <div class="phone">
          <p>Phone Number: <span>{{teachContact.phone}}</span></p>
          <i
            class="bx bxs-phone"
            style="position: relative; top: -32px; right: -282px; width: 40px"
          ></i>
        </div>
      </div>
      <div class="teach-description">
        <p>
          {{ teachDescription }}
        </p>
      </div>
      <div class="teach-cv">
        <p class="first">
          [School/Institution Name], [Location] [Position], [Years of
          Employment]
        </p>
        <p class="second">
          {{ teachExperience }}
        </p>
      </div>
    </div>
  </div>
</body>
