body {
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  border-style: inset;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box {
  display: grid;
  grid-template-columns: 2fr 5fr;
  height: 1000px;
}
.box1 {
  display: grid;
  background-color: rgb(8, 46, 84);
}
.box2 {
  display: grid;
  background-color: whitesmoke;
}
.name {padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100px;
  width: 90%;
  justify-self: center;
}
.teach-name {
  box-shadow: inset 0 0 15px #e3e4ee;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

.phone {
  display: grid;
  grid-column-start: 1;
  grid-column-start: 2;
  box-shadow: inset 0 0 15px #e3e4ee;
}
.email {align-items: start;
  display: grid;
  grid-column-start: 0;
  grid-column-start: 1;
  box-shadow: inset 0 0 15px #e3e4ee;
}
.teach-name p {
  font-weight: bold;
  display: grid;
  justify-content: center;
}
.phone p {
  padding-left: 76px;
}
.email p {
  padding-left: 76px;
}
span {
  display: inline;
  width: 100px;
  color: rgb(8, 46, 84);
}


.box1{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr
}
.personal-data{padding-bottom: 120px;
  place-self: center;
  display: grid;
}
.personal-data p{text-align: center;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
  width: 200px;
  border-bottom: thick double #32a1ce;
  color:white;
}
.introduction{
  padding-left: 57px;
  display: grid;

}
.introduction p{
  padding-top: 31px;
  text-align: center;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
  width: 200px;
  border-bottom: thick double #32a1ce;
  // box-shadow: inset 0 0 15px #e3e4ee;
  color:white;
  height: 20%;
  margin-top: -90px;
}
.experience p{
  padding-top: 31px;
  text-align: center;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
  width: 200px;
  border-bottom: thick double #32a1ce;
  // box-shadow: inset 0 0 15px #e3e4ee;
  color:white;
  height: 20%;
  margin-top: -39px;
}
.experience{
  padding-left: 57px;
  display: grid;

}
.teach-cv{
  padding: 10px;


  margin-top: 37px;
}
.teach-description{
  margin-top: 94px;
}
.teach-description p{width: 90%;
  margin-left: 39px;
  padding: 10px;
  box-shadow: inset 0 0 15px #e3e4ee;
  border-bottom-right-radius: 80px 80px;

}
.first{
  font-weight: bold;
  margin-left: 29px;
}
.second{
  width: 90%;
  margin-left: 29px;
  padding: 10px;
  box-shadow: inset 0 0 15px #e3e4ee;
  border-bottom-right-radius: 80px 80px;
}
