body {
  background-color: rgb(255, 255, 255);
}

.welcomeBox {
  padding: 10px;
  overflow: hidden;
}
.description {
  font-size: 25px;
  margin-bottom: 60px;
  border-bottom: thick double #32a1ce;
}
.intro {
  margin-top: 40px;
  font-size: 25px;
  margin-bottom: 50px;
  border-bottom: thick double #32a1ce;
}
.welcomeText {
  overflow: auto;
  text-align: center;

  font-weight: bold;
  font-size: 27px;
}
.box {
  background-color: aliceblue;
  margin-top: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box1 {
  display: grid;
}
.imagine {
  margin-top: 10px;
  width: 90%;
  height: 90%;
}
@media only screen and (min-width: 510px) and (max-width: 900px) {
  .box {
    grid-template-columns: 1fr;
  }
  .secondBox {
    grid-template-columns: 1fr;
  }
}
.secondBox {
  margin-top: 100px;

  display: grid;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.teachers {
  display: grid;
  height: 400px;
  background-color: aliceblue;
}
.teacherfoto {
  display: grid;
  height: 220px;
  width: 100%;
}
.info {
  display: grid;
  height: 400px;
  background-color: aliceblue;
}
.about {
  display: grid;
  justify-content: center;
}
.aboutTeacher {
  font-size: 30px;
}
.about:hover {
  cursor: pointer;
  border-bottom: 1rem solid #32a1ce;
}
