<body>
  <div class="welcomeBox" >
    <p class="welcomeText">Welcome to {{ showSchObj }} class</p>
  </div>
  <div class="box">
    <div class="box1">
      <img
        class="imagine"
        src="assets/math1.jpg"
        *ngIf="showSchObj == 'Math'"
      />
      <img
        class="imagine"
        src="assets/science.jpg"
        *ngIf="showSchObj == 'Science'"
      />
      <img
        class="imagine"
        src="assets/sport.jpg"
        *ngIf="showSchObj == 'Sport'"
      />
      <img
        class="imagine"
        src="assets/history.jpg"
        *ngIf="showSchObj == 'History'"
      />
      <img
        class="imagine"
        src="assets/economics.jpg"
        *ngIf="showSchObj == 'Economics'"
      />
    </div>
    <div class="box2">
      <div class="description">Description</div>
      <div>
        School subjects refer to the different academic disciplines that are
        taught in schools, colleges, and universities. These disciplines are
        designed to help students develop knowledge and skills in different
        areas of study. School subjects are often divided into different levels,
        such as elementary school, middle school, and high school, with each
        level building upon the knowledge and skills developed in the previous
        level. Additionally, some school subjects are required for graduation,
        while others are electives that students can choose based on their
        interests and career goals.
      </div>

      <div class="intro">Introduction</div>
      <div>{{ showDescription }}</div>
    </div>
  </div>
  <div class="secondBox">
    <div class="teachers">
      <div>
        <img class="teacherfoto" src="assets/teacher.jpg" />
      </div>
      <div class="about" (click)="goToTeachers($event,showSchObj)">
        <p class="aboutTeacher"> {{ showSchObj }} Teacher</p>

      </div>
    </div>
    <div class="info">
      <div>
        <img class="teacherfoto" src="assets/grades.jpg" />
      </div>
      <div class="about">
        <p class="aboutTeacher">Students grades </p>
      </div>
    </div>
  </div>
</body>

