<p-toast></p-toast>
<body>
  <div mat-dialog-title class="container">
    <h1 class="title">{{ isEdit ? "Edit Student" : "Add Student" }}</h1>
  </div>
  <mat-dialog-content class="box">
    <form [formGroup]="form">
      <label class="form-row">
        <input
          [class.invalid]="form.get('name').touched && form.get('name').invalid"
          type="text"
          formControlName="name"
          class="name"
          pInputText
          placeholder="Name:"
        />
        <div
          *ngIf="form.get('name').touched && form.get('name').invalid"
          style="color: red"
        >
          Please enter a name!
        </div>
      </label>
      <label class="form-row" *ngFor="let controlName of grades">
        {{ controlName | titlecase }}:
        <div
          formArrayName="{{ controlName }}"
          *ngFor="let item of form.get(controlName)['controls']; let i = index"
        >
          <div [formGroupName]="i">
            <input
              formControlName="grades"
              style="width: 74px"
              type="number"
              min="1"
              max="10"
              placeholder="Grades:"
            />
            <input formControlName="date" placeholder="Date:dd/mm/yyyy" />
          </div>
        </div>
        <div>
          <button type="button" (click)="addInput(controlName)">
            Add More
          </button>
          <button
            *ngIf="form.get(controlName).value.length > 1"
            type="button"
            (click)="deteleInput(controlName, index)"
          >
            Less
          </button>
        </div>
      </label>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="buttons">
    <p-button
      styleClass="p-button-danger"
      matDialogClose
      (click)="closeMessages()"
      >Cancel</p-button
    >
    <div>
      <p-button (click)="onSubmit()">{{ isEdit ? "Update" : "Save" }}</p-button>
    </div>
  </mat-dialog-actions>
</body>
