<body>
  <div mat-dialog-title class="container">
    <h1 class="title">{{ isEdit ? "Edit Student" : "Add Student" }}</h1>
  </div>
  <mat-dialog-content class="box">
    <form [formGroup]="form">
      <label class="form-row">
        <input
          [class.invalid]="form.get('name').touched && form.get('name').invalid"
          type="text"
          formControlName="name"
          class="name"
          pInputText
          placeholder="Name:"
        />
        <div
          *ngIf="form.get('name').touched && form.get('name').invalid"
          style="color: red"
        >
          Please enter a name!
        </div>
      </label>

      <label class="form-row">
        Sport:
        <div
          formArrayName="sport"
          *ngFor="let item of form.get('sport')['controls']; let i = index"
        >
          <div [formGroupName]="i">
            <input
              formControlName="grades"
              style="width: 74px"
              type="number"
              min="1"
              max="10"
              placeholder="Grades:"
            />
            <input formControlName="date" placeholder="Date:dd/mm/yyyy" />
          </div>
        </div>
        <div>
          <button type="button" (click)="addInput('sport')">Add More</button>
          <button
            *ngIf="form.get('sport').value.length > 1"
            type="button"
            (click)="deteleInput('sport', i)"
          >
            Less
          </button>
        </div>
      </label>

      <label class="form-row">
        Science:
        <div
          formArrayName="science"
          *ngFor="let item of form.get('science')['controls']; let i = index"
        >
          <div [formGroupName]="i" class="box1">
            <input
              formControlName="grades"
              style="width: 74px"
              type="number"
              min="1"
              max="10"
              placeholder="Grades:"
            />
            <input formControlName="date" placeholder="Date:dd/mm/yyyy" />
          </div>
        </div>
        <div>
          <button type="button" (click)="addInput('science')">Add More</button>
          <button
            *ngIf="form.get('science').value.length > 1"
            type="button"
            (click)="deteleInput('science', i)"
          >
            Less
          </button>
        </div>
      </label>

      <label class="form-row">
        Music:
        <div
          formArrayName="music"
          *ngFor="let item of form.get('music')['controls']; let i = index"
        >
          <div [formGroupName]="i">
            <input
              formControlName="grades"
              style="width: 74px"
              type="number"
              min="1"
              max="10"
              type="number"
              min="1"
              max="10"
              placeholder="Grades:"
            />
            <input formControlName="date" placeholder="Date:dd/mm/yyyy" />
          </div>
        </div>
        <div>
          <button type="button" (click)="addInput('music')">Add More</button>
          <button
            *ngIf="form.get('music').value.length > 1"
            type="button"
            (click)="deteleInput('music', i)"
          >
            Less
          </button>
        </div>
      </label>

      <label class="form-row">
        History:
        <div
          formArrayName="history"
          *ngFor="let item of form.get('history')['controls']; let i = index"
        >
          <div [formGroupName]="i">
            <input
              type="number"
              min="1"
              max="10"
              style="width: 74px"
              formControlName="grades"
              placeholder="Grades:"
            />
            <input formControlName="date" placeholder="Date:dd/mm/yyyy" />
          </div>
        </div>
        <div>
          <button type="button" (click)="addInput('history')">Add More</button>
          <button
            *ngIf="form.get('history').value.length > 1"
            type="button"
            (click)="deteleInput('history', i)"
          >
            Less
          </button>
        </div>
      </label>

      <label class="form-row">
        Math:
        <div
          formArrayName="math"
          *ngFor="let item of form.get('math')['controls']; let i = index"
        >
          <div [formGroupName]="i">
            <input
              formControlName="grades"
              type="number"
              style="width: 74px"
              min="1"
              max="10"
              placeholder="Grades:"
            />
            <input formControlName="date" placeholder="Date:dd/mm/yyyy" />
          </div>
        </div>
        <div>
          <button type="button" (click)="addInput('math')">Add More</button>

          <button
            *ngIf="form.get('math').value.length > 1"
            type="button"
            (click)="deteleInput('math', i)"
          >
            Less
          </button>
        </div>
      </label>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="buttons">
    <p-button styleClass="p-button-danger" matDialogClose>Cancel</p-button>
    <div>
      <p-button (click)="onSubmit()">{{ isEdit ? "Update" : "Save" }}</p-button>
    </div>

  </mat-dialog-actions>
</body>
