<head>
  <link
    href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
    rel="stylesheet"
  />
</head>
<body>
  <div class="box">
    <div class="box1">
      <p class="text1" (click)="onSelect()">About FutureSchool</p>
      <p class="text2" (click)="onPurpose()">Catalog Purpose</p>
      <p class="text3" (click)="onLocated()">Contact</p>
    </div>

    <div class="box2">
      <div class="description" *ngIf="!show">
        <p class="textDescription">
          {{ schoolDescription }}
        </p>
      </div>

      <div *ngIf="!isShow">
        <p class="textDescription">
          {{ schoolPurpose }}
        </p>
      </div>

      <div class="location" *ngIf="!isLocated">
        <div class="info">
          <p>{{ contact?.address }}</p>
        </div>
        <div class="info">
          <p>Phone Number:{{ contact?.phone }}</p>
        </div>
        <div class="info">
          <p>Email:{{ contact?.email }}</p>
        </div>

        <google-map
          height="250px"
          width="90%"
          [center]="center"
          [zoom]="zoom"
          (mapClick)="moveMap($event)"
          (mapMousemove)="move($event)"
        >
        </google-map>
        <div>Latitude: {{ display?.lat }}</div>
        <div>Longitude: {{ display?.lng }}</div>
      </div>
    </div>
  </div>
</body>
