<div style="margin-top: 14px; margin-bottom: 8px">
  <p-button label="Add Student" class="btnAdd" (click)="goTo()"></p-button>
  <p-button label="Export PDF" class="btnAdd" style="margin-left:5px"(click)="saveToPdf()" ></p-button>
</div>

<p-table [value]="student" id="table" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th style="text-align: center">Name</th>
      <th style="text-align: center">History</th>
      <th style="text-align: center">Math</th>
      <th style="text-align: center">Music</th>
      <th style="text-align: center">Science</th>
      <th style="text-align: center">Sport</th>
      <th style="text-align: center">Total</th>
      <th style="text-align: center">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-student>
    <tr>
      <td style="text-align: center">{{ student.name }}</td>
      <td>
        <table>
          <thead>
            <tr>
              <th style="text-align: center">Grades</th>
              <th style="text-align: center">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let history of student.history">
              <ng-container
                *ngIf="history.date && history.grades; else naBlock"
              >
                <td style="text-align: center">{{ history.grades }}</td>
                <td style="text-align: center">{{ history.date }}</td>
              </ng-container>
              <ng-template #naBlock>
                <td style="text-align: center">#NA</td>
                <td style="text-align: center">#NA</td>
              </ng-template>
            </tr>
            <tr>
              <th>Total</th>
              <th style="text-align: center">
                {{ getAverageGrades("history", student) }}
              </th>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table>
          <thead>
            <tr>
              <th>Grades</th>
              <th class="center">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let math of student.math">
              <ng-container *ngIf="math.date && math.grades; else naBlock">
                <td class="center">{{ math.grades }}</td>
                <td class="center">{{ math.date }}</td>
              </ng-container>
              <ng-template #naBlock>
                <td class="center">#NA</td>
                <td class="center">#NA</td>
              </ng-template>
            </tr>
            <tr>
              <th>Total</th>
              <th style="text-align: center">
                {{ getAverageGrades("math", student) }}
              </th>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table>
          <thead>
            <tr>
              <th>Grades</th>
              <th class="center">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let music of student.music">
              <ng-container *ngIf="music.date && music.grades; else naBlock">
                <td class="center">{{ music.grades }}</td>
                <td class="center">{{ music.date }}</td>
              </ng-container>
              <ng-template #naBlock>
                <td class="center">#NA</td>
                <td class="center">#NA</td>
              </ng-template>
            </tr>
            <tr>
              <th>Total</th>
              <th style="text-align: center">
                {{ getAverageGrades("music", student) }}
              </th>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table>
          <thead>
            <tr>
              <th>Grades</th>
              <th class="center">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let science of student.science">
              <ng-container *ngIf="science.date; else naBlock">
                <td class="center">{{ science.grades }}</td>
                <td class="center">{{ science.date }}</td>
              </ng-container>
              <ng-template #naBlock>
                <td class="center">#NA</td>
                <td class="center">#NA</td>
              </ng-template>
            </tr>
            <tr>
              <th>Total</th>
              <th style="text-align: center">
                {{ getAverageGrades("science", student) }}
              </th>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table>
          <thead>
            <tr>
              <th>Grades</th>
              <th class="center">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sport of student.sport">
              <ng-container *ngIf="sport.date && sport.grades; else naBlock">
                <td class="center">{{ sport.grades }}</td>
                <td class="center">{{ sport.date }}</td>
              </ng-container>
              <ng-template #naBlock>
                <td class="center">#NA</td>
                <td class="center">#NA</td>
              </ng-template>
            </tr>
            <tr>
              <th>Total</th>
              <th style="text-align: center">
                {{ getAverageGrades("sport", student) }}
              </th>
            </tr>
          </tbody>
        </table>
      </td>
<td>{{ getAverageOfAverages(student)}}</td>
    </tr>
  </ng-template>
</p-table>
