<p-toast></p-toast>
<div style="margin-top: 14px; margin-bottom: 8px">
  <p-button label="Add Student" class="btn-add" (click)="goTo()"></p-button>

  <p-button
    label="Export PDF"
    class="btnAdd"
    style="margin-left: 5px"
    (click)="saveToPdf()"
  ></p-button>
</div>

<p-table [value]="student" id="table" [tableStyle]="{ 'min-width': '50rem' }">

  <ng-template pTemplate="header">
    <tr>
      <th style="text-align: center">Name</th>
      <th style="text-align: center" *ngFor="let grades of gradesExample" >{{grades}}</th>
      <th style="text-align: center">Total</th>
      <th style="text-align: center">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-student>
    <tr>
      <td style="text-align: center">{{ student.name }}</td>
      <td *ngFor="let subject of gradesExample">
        <table>
          <thead>
            <tr>
              <th style="text-align: center">Grades</th>
              <th style="text-align: center">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of student[subject.toLowerCase()]">
              <ng-container *ngIf="item.date && item.grades; else naBlock">
                <td style="text-align: center">{{ item.grades }}</td>
                <td style="text-align: center">{{ item.date }}</td>
              </ng-container>
              <ng-template #naBlock>
                <td style="text-align: center">#NA</td>
                <td style="text-align: center">#NA</td>
              </ng-template>
            </tr>
            <tr>
              <th>Total</th>
              <th style="text-align: center">
                {{ getAverageGrades(subject.toLowerCase(), student) }}
              </th>
            </tr>
          </tbody>
        </table>
      </td>


      <td style="text-align: center">{{ getAverageOfAverages(student) }}</td>
      <td >

        <i id="edit-button"class='bx bx-edit' (click)="editStudent(student.id)" style="color: rgb(149, 149, 224); font-size: 50px;"></i>
        <i id="delete-button" class='bx bxs-message-square-x' style="color: rgb(149, 149, 224); font-size: 50px;" (click)="deleteStudent(student.id)"></i>

      </td>
    </tr>
  </ng-template>
</p-table>
