
.btnAdd{
  margin-top:10px;
  justify-self: end;
  margin-bottom: 10px;
  width: 80px;
}
.add-student-dialog-container {
  z-index: 1000;
}
.center{
  text-align: center;
}
.edit{
  margin-right: 3px;
}
#edit-button:hover{
  cursor: pointer;
}
#delete-button:hover{
  cursor: pointer;
}


