
.table th{
  text-align: center;
}
.test{position: relative;
width: 180px;
display: grid;
grid-template-columns: 45px 1fr 10px;
grid-column-gap: 2px;
}
.table th{
  text-align: center;
}
i{
  position: absolute;
  top: 4px;
  left: 170px;
}
