<head>
  <link
    href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
    rel="stylesheet"
  />
</head>
<body>
  <div class="box-header">
    <div class="box-text">
      <p class="text">Future School</p>
    </div>
    <div class="div1">
      <p class="about" routerLink="/about">About</p>
    </div>
    <div class="div2" *ngIf="isAuthenticate">
      <p class="home" routerLink="/home">Home</p>
    </div>
    <div class="div3" *ngIf="isAuthenticate">
      <p class="timetable" routerLink="/timetable">Timetable</p>
    </div>
    <div *ngIf="isAuthenticate">
      <p class="user">{{ userNew }}</p>
    </div>
    <div class="box-logout" *ngIf="isAuthenticate">
      <p class="logout" (click)="onLogout()">Logout</p>
    </div>
  </div>
</body>
<p-breadcrumb
  *ngIf="isAuthenticate"
  [home]="home"
  [model]="breadcrumbs"
></p-breadcrumb>
