body{
  padding-left: 8 px;
}
td:hover{
  // background-color:rgb(114, 213, 124);
  background-color: #32a1ce;
  cursor: pointer;
}

td, th {
  padding: 10px;
  position: relative;

}

tr:hover{
  background-color:rgb(128, 125, 125);

  color:black;

  cursor: pointer;
}
.col:hover::after,th:hover::after {
  background-color: rgba(232, 232, 163, 0.5);
  color:blue;
  content: '\00a0';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  cursor: pointer;
}


