/* You can add global styles to this file, and also import other style files */


@font-face{
  font-family: 'FastHand';
  src:url(assets/Fasthand-Regular.ttf) format('truetype')
}


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.p-toast{
  margin-top: 90px;
}

