
.box {
  margin-top: 100px;
  display: grid;
  grid-template-rows: 80px 1fr;
}
.box1 {
  display: grid;
padding-left: 45px;

  font-size: 4rem;
}
.box2 {
  background-color: blue;
}
.box1 p{
  padding-left: 20px;
border-style: dotted;
  margin:0px;
  width: 250px;

}

